.postList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;
    margin: 15px auto;
}

.postListItem {
    padding: 16px;
    max-width: 320px;
    color: var(--text-secondary);
    box-shadow: 0 1px 3px var(--shadow);
    border-radius: 30px;
}

.postListItem:hover {
    transform: scale(1.01);
}

.postTitle {
    margin: 0;
    color: var(--text-primary);
    margin-bottom: 5px;
    font-size: 20px;
}