:root {
  --primary: #4e56ff;
  --secondary: #48d359;
  --text-primary: #2c3a57;
  --shadow: rgba(0,0,0, 0.12);
}

.title{
  color: var(--primary);
  text-align: center;
  box-shadow: 0 3px 0 var(--shadow);
  padding: 16px;
  margin-top: 0;
}

.titleSecondWord {
  color: var(--secondary);
}